<header>
    <div class="header">
        <h1 class="header-logo">
            <a href="#">LMT</a>
        </h1>
        <ul class="header-ul">
            <li class="header-li">username</li>
            <li class="header-li">設定</li>
            <li class="header-li">チャンネル追加</li>
            <li class="header-li">ログアウト</li>
            <li class="header-li">ログイン</li>
        </ul>
    </div>
</header>